.custom-btn-login {
  background-color: rgb(109, 151, 240);
  width: 150;
  height: 35px;
  border: radius 10px;
}
body {
  background-image: url("assetsILab/hero.jpg");
  background-size: cover; /* Untuk mengisi seluruh latar belakang */
  background-repeat: no-repeat; /* Menghindari pengulangan gambar */
  background-size: 2000px 700px; /* sixe monitor 2000px 720px, lp 1350px 700px */
}
@media (max-width: 765px) {
  .custom-btn-login {
    width: 100%;
  }
}
/* footer */
.footer-wrapper {
  background-color: ghostwhite;
  min-height: 100px;
}

footer {
  margin-top: 300px;
}

.custom-text {
  font-size: 10px; /* Ubah ukuran teks sesuai keinginan Anda */
}

.custom-text-small {
  font-size: 13px;
}

/* style.css */
.text-center {
  color: white;
}

/* teks judul */
.container {
  display: flex;
  justify-content: center; /* Mengatur elemen-elemen menjadi di tengah horizontal */
  align-items: center; /* Mengatur elemen-elemen menjadi di tengah vertikal */
  color: aliceblue;
}

.nav-link.active {
  margin-right: 30px;
}

.nav-link {
  margin-right: 50px;
}

.follow-size {
  font-size: 12px;
}

.custom-img {
  width: 100px; /* Atur lebar gambar sesuai kebutuhan */
  height: auto; /* Biarkan tinggi gambar disesuaikan secara proporsional */
}